.order-page {
  background: #F5F9FA;
  overflow: scroll;
  padding-bottom:1.12rem;
  .title {
    line-height: .44rem;
    font-size:.18rem;
    color: #242424;
    background: #FFF;
    text-align: center;
  }
  .receiver {
    display: flex;
    font-size:.14rem;
    background:#FFF;
    color: #242424;
    .iconfont {
      line-height: .86rem;
      width:.48rem;
      text-align:center;
      font-size:.2rem;
      color:#73D13D;
    }
    &-content {
      flex: 1;
    }
    &-name {
      margin:.14rem .1rem .06rem 0;
    }
    &-phone {
      margin-left:.22rem;
    }
    &-address {
      margin-bottom:.28rem;
      font-size:.12rem;
      line-height:.22rem;
    }
  }
  .delivery {
    background:#FFF;
    margin-top:.1rem;
    font-size:.14rem;
    &-text {
      line-height:.4rem;
      padding:0 .1rem;
      color: #242424;
    }
    &-select {
      line-height:.4rem;
      padding:0 .1rem;
      color: #73D13D;
    }
  }
  .shop {
    margin-top:.1rem;
    background:#FFF;

    &-title {
      position: relative;
      padding-top:.12rem;
      padding-bottom:.04rem;
      line-height:.24rem;
      padding-left: .48rem;
      font-size:.16rem;
      .iconfont {
        margin-right:.08rem;
      }
      .radio {
        top:.24rem;
        transform: translateY(-50%);
      }
    }

    &-product {
      display: flex;
      position: relative;
      padding: .16rem .1rem .16rem 0;
      &-img {
        display:block;
        margin-left:.48rem;
        margin-right:.08rem;
        width:.96rem;
        height:.96rem;
      }
      &-content {
        flex:1;
      }
      &-title {
        color: #242424;
        font-size:.14rem;
        line-height:.22rem;
        word-wrap:break-word;
        word-break:break-all;
      }
      &-kilo {
        margin-top:.08rem;
        color:#B1B1B1;
        font-size:.12rem;
        line-height:.18rem;
      }
      &-price {
        margin-top:.14rem;
        color:#CF1322;
        font-size:.16rem;
        &-symbol {
          font-size:.12rem;
        }
      }
      &-count{
        position: absolute;
        right:.1rem;
        bottom:.1rem;
        display: block;
        height:.24rem;
        line-height:.24rem;
        width:.4rem;
        font-size: .12rem;
        border:.01rem solid #DFDFDF;
        outline: none;
        text-align: center;
      }
    }
  }
}



