.order-page {
  background: #F5F9FA;
  overflow: scroll;
  padding-bottom:.96rem;
  .title {
    line-height: .44rem;
    font-size:.18rem;
    color: #242424;
    background: #FFF;
    text-align: center;
  }
  .receiver {
    display: flex;
    font-size:.14rem;
    background:#FFF;
    color: #242424;
    .iconfont {
      line-height: .86rem;
      width:.48rem;
      text-align:center;
      font-size:.2rem;
      color:#73D13D;
    }
    &-content {
      flex: 1;
    }
    &-name {
      margin:.14rem .1rem .06rem 0;
    }
    &-phone {
      margin-left:.22rem;
    }
    &-address {
      margin-bottom:.28rem;
      font-size:.12rem;
      line-height:.22rem;
    }
  }
  .delivery {
    background:#FFF;
    margin-top:.1rem;
    font-size:.14rem;
    &-text {
      line-height:.4rem;
      padding:0 .1rem;
      color: #242424;
    }
    &-select {
      line-height:.4rem;
      padding:0 .1rem;
      color: #73D13D;
    }
  }
  .shop {
    margin-top:.1rem;
    &-title {
      padding-top:.12rem;
      padding-bottom:.04rem;
      padding-left: .1rem;
      line-height:.24rem;
      font-size:.16rem;
      background:#FFF;
      .iconfont {
        margin-right:.08rem;
      }
    }

    &-product {
      display: flex;
      position: relative;
      padding: .1rem;
      margin-bottom:.1rem;
      background:#FFF;
      &-img {
        display:block;
        margin-right:.1rem;
        width:.86rem;
        height:.86rem;
      }
      &-content {
        flex:1;
      }
      &-title {
        padding-top:.14rem;
        color: #242424;
        font-size:.14rem;
        line-height:.22rem;
        word-wrap:break-word;
        word-break:break-all;
      }
      &-kilo {
        margin-top:.04rem;
        color:#B1B1B1;
        font-size:.12rem;
        line-height:.18rem;
      }
      &-order {
        line-height:.24rem;
        width:.75rem;
        font-size:.14rem;
        padding-top:.16rem;
        color:#242424;
        text-align: right;
      }

    }
  }
  .footer {
    height:.64rem;
    line-height:.64rem;
    background:#FFF;
    display: flex;

    &-total {
      flex:1;
    }
    &-submit {
      margin-right: .16rem;
      width:1.43rem;
      height:.44rem;
      line-height:.44rem;
      margin-top:.1rem;
      border-radius:.22rem;
      background:#73D13D;
      text-align:center;
      color: #FFF;
      font-size:.16rem;
    }
  }
}



