.nearby-page {
  background: #fff;
  min-height: 100vh;

  .title {
    align-items: center;
    display: flex;
    padding: 0.12rem;
    font-size: 0.16rem;

    .title-icon {
      margin-right: 1.4rem;
      font-size: 0.16rem;
      color: #242424;
    }
  }

  .search {
    margin: 0.12rem;
    background: #f5f5f5;
    border-radius: 0.16rem;
    display: flex;
    align-items: center;
    height: 0.32rem;
    padding: 0 0.12rem;

    &-icon {
      color: #999;
      font-size: 0.14rem;
      margin-right: 0.08rem;
    }

    &-input {
      flex: 1;
      height: 100%;
      border: none;
      outline: none;
      background: transparent;
      font-size: 0.14rem;
      padding: 0;

      &::placeholder {
        color: #999;
      }
    }
  }

  .subtitle {
    padding: 0.08rem 0.12rem;
    font-size: 0.14rem;
    color: #333;
    background: #f5f5f5;
  }

  .store-list {
    &-item {
      padding: 0.08rem 0.12rem;
      border-bottom: 1px solid #f0f0f0;
      position: relative;
      margin-top: -0.6rem;
      margin-left: 0.10rem;
      &-title {
        font-size: 0.15rem;
        color: #333;
        margin-bottom: 0.04rem;
      }

      &-desc {
        font-size: 0.13rem;
        color: #666;
        margin-bottom: 0.02rem;
        line-height: 1.2;
      }

      &-address {
        font-size: 0.13rem;
        color: #666;
        line-height: 1.2;
      }

      &-right {
        position: absolute;
        right: 0.12rem;
        top: 1.08rem;
        color: #999;
        font-size: 0.13rem;
        display: flex;
        align-items: center;

        .iconfont {
          margin-right: 0.04rem;
          font-size: 0.13rem;
        }
      }
    }
  }
}