.cart-page {
  background: #F5F9FA;
 .title {
   line-height: .44rem;
   font-size:.18rem;
   color: #242424;
   background: #FFF;
   text-align: center;
 }
  .shop {
    margin-top:.1rem;
    background:#FFF;
    &-title {
      padding-top:.12rem;
      padding-bottom:.04rem;
      line-height:.24rem;
      font-size:.16rem;
      .iconfont {
          margin-left: .18rem;
          margin-right:.12rem;
      }
    }
  }
}



