.cart-page {
  background: #F5F9FA;
  .title {

    line-height: .44rem;
    font-size:.18rem;
    color: #242424;
    background: #FFF;
    text-align: center;

  }
  .radio {
    position: absolute;
    left: .1rem;
    top: .1rem;
     width:.24rem;
    height:.24rem;
    border-radius:.12rem;
    border:.01rem solid #B1B1B1

  }
  .shop {
    margin-top:.1rem;
    background:#FFF;

    &-title {
      position: relative;
      padding-top:.12rem;
      padding-bottom:.04rem;
      line-height:.24rem;
      padding-left: .48rem;
      font-size:.16rem;

      .iconfont {

          margin-right:.08rem;
      }
    }
    &-products {
      padding: .16rem .1rem .16rem 0;
    }
    &-product {
      display: flex;
      position: relative;
      &-img {
        display:block;
        margin-left:.48rem;
        width:.96rem;
        height:.96rem;
      }
      &-content {
        flex:1;
      }
    }
  }
}



