.detail-page {
  .title {
    position: relative;
    line-height:.44rem;
    font-size: .18rem;
    color: #242424;
    text-align: center;
    .iconfont {
      position: absolute;
      left:.1rem;
      top:0;
      font-size:.2rem;
      color: #242424;
    }
  }
  .image {
    width: 100vw;
    height: 100vw;
  }
  .main {
    position:relative;
    padding-top:.74rem;
    font-size:.18rem;
    background:#52C41A;
    border-radius:.15rem;
    &-price {
      position: absolute;
      color:#FFF;
      font-size:.2rem;
      top:.08rem;
      left:.08rem;
      &-symbol {
        font-size:.14rem;
        margin-right:.02rem;
        font-weight: normal;
      }
    }
    &-sales  {
      position: absolute;
      color:#FFF;
      font-size:.16rem;
      right:.1rem;
      top:.1rem;
      font-weight: bold;

    }
  }
}