.detail-page {
  .title {
    position: relative;
    line-height:.44rem;
    font-size: .18rem;
    color: #242424;
    text-align: center;
    .iconfont {
      position: absolute;
      left:.1rem;
      top:0;
      font-size:.2rem;
      color: #242424;
    }
  }
}