.category-page {
  position: relative;
  .title {
    position: relative;
    line-height:.44rem;
    font-size: .18rem;
    color: #242424;
    text-align: center;
    background: #fff;
    .iconfont {
      position: absolute;
      left:.1rem;
      top:0;
    }
  }
  .search {
    padding:.06rem .1rem;
    background: #fff;
    font-size: .14rem;
    &-area {
      position: relative;
      display: flex;
      line-height: .32rem;
      background: #F5F9FA;
      border-radius: .16rem;
      flex: 1;
      .search-icon {
        width:.3rem;
        text-align: center;
        color: #75818F;
      }
      .search-input {
        flex:1;
        padding-right:.1rem;
        background:none;
        outline:none;
        border: none;
        color: #242424;
      }
    }

  }
  .category {
    position: absolute;
    left: 0;
    top: .88rem;
    bottom: .5rem;
    width: .96rem;
    overflow-y: scroll;
    background:#F5F9FA;
    &-item{
      color:#242424;
      font-size:.14rem;
      line-height:.52rem;
      text-align:center;
      &-active {
        background:#fff;
       }
    }
  }
  .tag {
    position: absolute;
    left: .96rem;
    top: .88rem;
    right: 0;
    height: .52rem;

    font-size:0;
    overflow-x: scroll;
    white-space: nowrap;
    &-item{
      margin-top: .1rem;
      margin-left:.1rem;
      display: inline-block;
      font-size: .14rem;
      width: .7rem;
      height:.32rem;
      line-height:.32rem;
      background:#F5F9FA;
      text-align: center;
      border-radius: .05rem;
       &-active {
        background:#D9F3F6;
         color: #52C41A;
       }
    }
  }
  .product {
    position: absolute;
    left:.96rem;
    top:.88rem;
    right:0;
    height:.52rem;
    &-item {
      position: relative;
      background: #CCC;
      font-size: .14rem;
      &-img {
        width: .78rem;
        height: .78rem;
        margin-right: .08rem;
      }
      &-content {
        flex:1ï¼›
      }
      &-title {
        color:#242424;
        font-size:.14rem;
        line-height:.22rem;
      }
      &-sale {
        margin-top:.1rem;
        font-size:.12rem;
        line-height:.16rem;
        color:#B1B1B1;
      }
      &-price {
        margin-top:.1rem;
        font-size:.16rem;
        line-height:.24rem;
        color:#CF1322;
      }
      &-button {
        position: absolute;
        bottom:0;
        right:0;
        background:#73D13D;
        width:.4rem;
        line-height: .24rem;
        text-align: center;
        color:#FFF;
        border-radius:.04rem;
        font-size:.15rem;
      }

    }
  }
  .docker {
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    z-index: 3;
    height:.49rem;
    display: flex;
    background:#FFF;
    border-top:.01rem solid #F5F9FA;
    font-size:.12rem;
    color:#B3C1C4;
    text-align:center;
    &-item {
      flex:1;
      &-icon {
        margin:.04rem 0;
        font-size:.18rem;
      }

    }
    &-item-active {
      color:#73D13D;
    }
  }
}