.home-page {
    .banner {
        height:2.3rem;
        background:#73D13D;
        .location {
            line-height:.24rem;
            padding:.14rem.14remn.12rem.14rem;
            color:#FFF;
            font-size:.16rem;
            line-height:.22rem;
            font-weight: normal;
            .iconfont {
                font-size:.16rem;
                margin-right:.1rem;
            }
        }
       .search {
         margin:0 auto;
         width: 3.4rem;
         height: .36rem;
         line-height: .36rem;
         background: #FFF;
         color: #808080;
         font-size:.14rem;
       }
    }
}



